<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcy.service.provideradmin.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dcy.service.apiadmin.model.Role">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="role_key" property="roleKey" />
        <result column="role_status" property="roleStatus" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="del_flag" property="delFlag" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, role_key, role_status, create_by, create_date, update_by, update_date, del_flag, remark
    </sql>

    <sql id="Base_Column_List_Resource_Alias">
        res.id,res.parent_id AS parentId,res.parent_ids AS parentIds,res.res_name AS resName,res.res_code AS resCode,res.res_path AS resPath,res.http_method AS httpMethod,res.res_status AS resStatus,res.res_type AS resType,res.res_sort AS resSort
    </sql>


    <select id="getAuthResourceListByRoleId" resultType="com.dcy.service.apiadmin.model.Resources">
        SELECT
        <include refid="Base_Column_List_Resource_Alias"/>
        FROM sys_role role
        INNER JOIN sys_role_res rr on role.id = rr.role_id
        INNER JOIN sys_resources res on rr.res_id = res.id
        WHERE res.del_flag = 0 and role.id = #{roleId}
    </select>

</mapper>
