<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcy.service.provideradmin.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dcy.service.apiadmin.model.Role">
        <id column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="role_key" property="roleKey" />
        <result column="role_status" property="roleStatus" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="del_flag" property="delFlag" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, role_name, role_key, role_status, create_by, create_date, update_by, update_date, del_flag, remark
    </sql>

    <!-- 通用查询结果列 别名 -->
    <sql id="Base_Column_List_Alias">
        router.role_id AS roleId,router.role_name AS roleName,router.role_key AS roleKey,router.role_status AS roleStatus,router.create_by AS createBy,router.create_date AS createDate,router.update_by AS updateBy,router.update_date AS updateDate,router.del_flag AS delFlag,router.remark
    </sql>
</mapper>
